h1{
color: whitesmoke;

}

h4{
color: midnightblue;


}

p{
font-style: oblique;
color: orangered;

}
 
body{

background:linear-gradient(midnightblue, orangered)



}

.kd20k{

width: 50%;
border: solid 10px orangered;
margin-left: 25%;
}

.kd35{

width: 50%;
border: solid 10px orangered;
margin-left: 25%;
}

